#
# pin constraints
#
NET DIP_Switches_8Bits_TRI_I[0] LOC = "T10"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[1] LOC = "T9"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[2] LOC = "V9"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[3] LOC = "M8"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[4] LOC = "N8"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[5] LOC = "U8"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[6] LOC = "V8"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[7] LOC = "T5"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_AN_pin[0] LOC = "N16"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_AN_pin[1] LOC = "N15"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_AN_pin[2] LOC = "P18"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_AN_pin[3] LOC = "P17"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[0] LOC = "M13"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[1] LOC = "T17"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[2] LOC = "T18"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[3] LOC = "U17"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[4] LOC = "U18"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[5] LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[6] LOC = "N14"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_SevSeg_Disp_SEG_pin[7] LOC = "L14"  |  IOSTANDARD = "LVCMOS33";
NET GCLK LOC = "V10"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[0] LOC = "U16"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[1] LOC = "V16"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[2] LOC = "U15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[3] LOC = "V15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[4] LOC = "M11"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[5] LOC = "N11"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[6] LOC = "R11"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[7] LOC = "T11"  |  IOSTANDARD = "LVCMOS33";
NET Push_Buttons_4Bits_TRI_I[0] LOC = "A8"  |  IOSTANDARD = "LVCMOS33";
NET Push_Buttons_4Bits_TRI_I[1] LOC = "C4"  |  IOSTANDARD = "LVCMOS33";
NET Push_Buttons_4Bits_TRI_I[2] LOC = "C9"  |  IOSTANDARD = "LVCMOS33";
NET Push_Buttons_4Bits_TRI_I[3] LOC = "D9"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "B8"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "N17"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "N18"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#
NET vga_0_R_pin<0> LOC = U7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L43P, Sch name = RED0
NET vga_0_R_pin<1> LOC = V7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L43N, Sch name = RED1
NET vga_0_R_pin<2> LOC = N7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L44P, Sch name = RED2
NET vga_0_G_pin<0> LOC = P8 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L44N, Sch name = GRN0
NET vga_0_G_pin<1> LOC = T6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L45P, Sch name = GRN1
NET vga_0_G_pin<2> LOC = V6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L45N, Sch name = GRN2
NET vga_0_B_pin<0> LOC = R7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L46P, Sch name = BLU1
NET vga_0_B_pin<1> LOC = T7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L46N, Sch name = BLU2

NET vga_0_Hsync_pin LOC = N6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47P, Sch name = HSYNC
NET vga_0_Vsync_pin LOC = P7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47N, Sch name = VSYNC


NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

